# configs repo .gitignore file

# Strategy here is to ignore everything, and only add in files that you actually want included
*

# Git repo things
!README.MD
!.gitignore

# Certain rc files
!.bashrc
!.vimrc
!.zshrc

# X11 / Window manager config stuff
!.xinitrc
!.xsession
!.Xdefaults
!.Xresources
!.fehbg
!.config/i3
!.i3*
!.cheeselock

# Scripts I want synced
!update.sh
!time_sync.sh

